a{
    text-decoration: none;
    color: lightslategray;
    transition: 0.3s;
}
a:hover{
    color:#ff33cc;
    cursor: pointer;
}
#recensioni{
    overflow-y:scroll;
    height:80%;
}